#contact-the-mark-agency{
	background-color: #FD504F;
	background-image: url(../../images/contact-background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 400%;
	width: 100%;
	z-index: 600;
}
#contact-the-mark-agency .wrapper{
	margin: 0px auto 0px auto;
	position: absolute;
	left: 50%;
	top: 84px;
	width: 500px;
}
#contact-the-mark-agency .left{
	color: #fd504f;
	display: inline-block;
	font-size: 2.4em;
	margin: 0px 15px 0px 0px;
	vertical-align: top;
	width: 490px;
}
#contact-the-mark-agency .left p{
	color: #FD504F;
	-webkit-font-smoothing: antialiased;
}

.enquiry-form{
	height: 345px;
	padding: 20px 0px 20px 0px;
}
input{
	background-color: transparent;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0px 0px 0px;
	padding: 8px 4px 0px 4px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
input.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
textarea{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0px 0px 0px;
	padding: 8px 4px 0px 4px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
textarea.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
#thankyou{
	color: #FFFFFF;
	display: none;
	height: 345px;
	padding: 20px 0px 0px 0px;
	-webkit-font-smoothing: antialiased;
}
#submit{
	background-color: #FFFFFF;
	color: #FD504F;
	float: right;
	margin: 10px 0px 0px 0px;
	padding: 5px 8px 0px 8px;
}
#submit a:hover{
	color: #4F4F4F;
}
#all-fields-required{
	color: #FFFFFF;
	font-size: 14px;
	padding: 0px 0px 0px 4px;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
#all-fields-required.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
#contact-information{
	margin: 70px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
}
#contact-information p{
	color: #000000;
	padding: 5px 0px 5px 0px;
}
#contact-information a{
	color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
}
#contact-information a:hover{
	color: #4f4f4f;
	-webkit-font-smoothing: antialiased;
}