html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
	background-image: url('../../images/contact-background.jpg');
	background-position: center top;
}
#scrollable{
	background-image: url(../../images/hash.png);
	background-position: 1050px -50px;
	background-repeat: no-repeat;
}
.wrapper{
	margin: 0px auto 0px auto;
	position: absolute;
	left: 50%;
	top: 84px;
	width: 450px;
}
#services-content-top{
	display: block;
	padding: 40px 0px 60px 0px;
	position: relative;
}
#services-content-top .left{
	color: #fd504f;
	display: inline-block;
	font-size: 2.4em;
	margin: 0px 15px 0px 0px;
	vertical-align: top;
	width: 490px;
}
#services-content-top .left p{
	color: #FD504F;
	-webkit-font-smoothing: antialiased;
}
#services-content-top .right{
	color: #4F4F4F;
	display: inline-block;
	font-size: 1em;
	padding: 11px 0px 0px 0px;
	vertical-align: top;
	width: 490px;
}
#services-content-top .right p{
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
}
#services-content-bottom{
	display: block;
	margin: 0px 0px 60px 0px;
	position: relative;
}
#services-content-bottom .left{
	display: inline-block;
	margin: 0px 15px 0px 0px;
	vertical-align: top;
	width: 490px;
}
#services-content-bottom .right{
	display: inline-block;
	vertical-align: top;
	width: 490px;
}
#services-content-bottom h1{
	color: #FD504F;
	font-weight: 400;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
#services-content-bottom h3{
	color: #FD504F;
	font-weight: 400;
	margin: 10px 0px 10px 0px;
	-webkit-font-smoothing: antialiased;
}
#services-content-bottom p{
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}
#contact-the-mark-agency{
	background-color: #FD504F;
}
#contact-the-mark-agency .wrapper{
	padding: 40px 0px 40px 0px;
}
#contact-the-mark-agency .left{
	display: inline-block;
	margin: 0px 15px 0px 0px;
	vertical-align: top;
	width: 490px;
}
#contact-the-mark-agency .left h3{
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
#contact-the-mark-agency .left p{
	color: #000000;
	font-size: 16px;
	line-height: 1.5em;
	padding: 5px 0px 5px 0px;
	-webkit-font-smoothing: antialiased;
}
#contact-the-mark-agency .left p.contact{
	color: #FFFFFF;
}
#contact-the-mark-agency .middle{
	display: inline-block;
	vertical-align: top;
	width: 490px;
}
#contact-the-mark-agency .middle h3{
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
#contact-the-mark-agency .middle p{
	color: #000000;
	font-size: 16px;
	line-height: 1.5em;
	padding: 5px 0px 5px 0px;
	-webkit-font-smoothing: antialiased;
}
#contact-the-mark-agency .time-text{
	color: #000000;
}
.enquiry-form{
	height: 345px;
	padding: 20px 0px 20px 0px;
}
input{
	background-color: transparent;
	border-bottom: 2px solid #FFFFFF;
	/*color: #FFFFFF;*/
	font-size: 20px;
	margin: 10px 0px 0px 0px;
	padding: 8px 4px 0px 4px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
input.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
textarea{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0px 0px 0px;
	padding: 8px 4px 0px 4px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
textarea.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
#thankyou{
	color: #FFFFFF;
	display: none;
	height: 365px;
	padding: 20px 0px 0px 0px;
	-webkit-font-smoothing: antialiased;
}
#submit{
	background-color: #FFFFFF;
	color: #FD504F;
	float: right;
	margin: 10px 0px 0px 0px;
	padding: 5px 8px 0px 8px;
}
#submit a:hover{
	color: #4F4F4F;
}
#all-fields-required{
	color: #FFFFFF;
	font-size: 14px;
	padding: 0px 0px 0px 4px;
	-webkit-font-smoothing: antialiased;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
#all-fields-required.error{
	color:#4F4F4F;
	transition: color 0.6s;
	-webkit-transition: color 0.6s;
}
#contact-information{
	padding: 0px 0px 0px 4px;
}
#contact-information p{
	padding: 5px 0px 5px 0px;
}
#contact-information a:hover{
	color: #4f4f4f;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#services-content-top .left p{
		line-height: 1em;
	}
	#contact-information{
		margin: 40px 0px 0px 0px;
	}
}