#our-work{
	background-color: #141414;
	background-image: url('../../images/our-work-background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 300%;
	width: 100%;
	z-index: 500;
}
#our-work .wrapper{
	margin: 0px auto 0px auto;
	width: 1000px;
}
#our-work .wrapper .title{
	padding: 2em 0px 2em 0px;
}
#our-work .wrapper .title h1{
	color: #FFFFFF;
	font-size: 5em;
	line-height: 1.25em;
	text-align: center;
}
#our-work #portfolio-pieces{
	width: 1000px;
	height: 374px;
	overflow: hidden;
}
#our-work #portfolio-pieces .port{
	display: inline-block;
	height: 167px;
	overflow: hidden;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: relative;
	vertical-align: top;
	width: 305px;
}
#our-work #portfolio-pieces .port .portfolio-info{
	display: none;
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
}
#our-work #portfolio-pieces .port .portfolio-info .portfolio-overlay{
	background-color: #FD504F;
	cursor: pointer;
	height: 100%;
	opacity: 0.95;
	width: 100%;
	position:absolute;
}
#our-work #portfolio-pieces .port .portfolio-info p{
	color: #FFFFFF;
	font-size: 1em;
	margin: -36px 0px 0px 0px;
	position: absolute;
	text-align: center;
	top: 125%;
	width: 100%;
}
#our-work #portfolio-pieces .port .portfolio-info p:hover{
	cursor: pointer;
}
#our-work #portfolio-pieces .port .portfolio-info span{
	color: #141414;
	font-size: 0.9em;
}
#our-work #portfolio-pieces .port .portfolio-info span:hover{
	cursor: pointer;
}
.view-our-portfolio{
	margin: 20px 0px 0px 0px;
	text-align: center;
}