html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#our-work{
	background-color: #141414;
	background-image: url('../../images/our-work-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 84px 0px 0px 0px;
	padding: 0px 0px 60px 0px;
	width: 100%;
}
#our-work .wrapper{
	margin: 0px auto 0px auto;
	width: 100%;
}
#our-work .wrapper .title{
	padding: 2em 0px 2em 0px;
}
#our-work .wrapper .title h1{
	color: #FFFFFF;
	font-size: 5em;
	text-align: center;
}
#our-work #portfolio-pieces .port{
	display: inline-block;
	height: 167px;
	overflow: hidden;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: relative;
	vertical-align: top;
	width: 305px;
}
#our-work #portfolio-pieces .port .portfolio-info{
	display: none;
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
}
#our-work #portfolio-pieces .port .portfolio-info .portfolio-overlay{
	background-color: #FD504F;
	cursor: pointer;
	height: 100%;
	opacity: 0.95;
	position:absolute;
	width: 100%;
}
#our-work #portfolio-pieces .port .portfolio-info p{
	color: #FFFFFF;
	font-size: 1em;
	margin: -36px 0px 0px 0px;
	position: absolute;
	text-align: center;
	top: 125%;
	width: 100%;
}
#our-work #portfolio-pieces .port .portfolio-info p:hover{
	cursor: pointer;
}
#our-work #portfolio-pieces .port .portfolio-info span{
	color: #141414;
	font-size: 0.9em;
}
#our-work #portfolio-pieces .port .portfolio-info span:hover{
	cursor: pointer;
}
#contact-the-mark-agency .wrapper{
	margin: 0px auto 0px auto;
}
#contact-the-mark-agency .time-text{
	color: #000000;
}