#our-process{
	background-color: #E6E7E5;
	background-image: url('../../images/our-process.png');
	background-position: center 95%;
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.3);
	height: 100%;
	left: 50%;
	margin-left: -700px;
	overflow: hidden;
	position: absolute;
	top: 200%;
	width: 100%;
	z-index: 400;
}
#our-process .wrapper{
	height: 100%;
	margin: 0px auto 60px auto;
	position: relative;
	width: 620px;
}
#our-process .title{
	position: relative;
	top: 4%;
}
#our-process .title h1{
	color: #FFFFFF;
	font-size: 5em;
	line-height: 1.25em;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
#our-process .title h1 span{
	color: #FD504F;
	font-size: 1em;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
#our-process .text{
	font-size: 1.5em;
	margin: -20px 0px 0px 3px;
}

#our-process .process-step-one{
	left:25.02%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-one .disc{
	height: 238px;
	width: 238px;
}

#our-process .process-step-two{
	left:24.083%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-two .disc{
	height: 319px;
	width: 319px;
}
#our-process .process-step-three{
	left:35.25556%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-three .disc{
	height: 267px;
	width: 267px;
}
#our-process .process-step-four{
	left:42.05556%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-four .disc{
	height: 298px;
	width: 298px;
}
#our-process .process-step-five{
	left:51.95%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-five .disc{
	height: 345px;
	width: 345px;
}
#our-process .process-step-six{
	left:53.9111%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-six .disc{
	height: 492px;
	width: 492px;
}
#our-process .process-step-seven{
	left:67.5694%;
	position:absolute;
	bottom: 0%;
}
#our-process .process-step-seven .disc{
	height: 309px;
	width: 309px;
}
.process-step-one .thumb {
	display:block;
	width:238px;
	height:238px;
	position:relative;
	float:left;
}
.process-step-one .thumb img.disc {
	bottom: 0px;
	display:block;
	height:238px;
	position:absolute;
	width:238px;
}
.process-step-two .thumb {
	display:block;
	width:319px;
	height:319px;
	position:relative;
	float:left;
}
.process-step-two .thumb img.disc {
	bottom: 0px;
	display:block;
	height:319px;
	position:absolute;
	width:319px;
}
.process-step-three .thumb {
	display:block;
	width:267px;
	height:267px;
	position:relative;
	float:left;
}
.process-step-three .thumb img.disc {
	bottom: 0px;
	display:block;
	height:267px;
	position:absolute;
	width:267px;
}
.process-step-four .thumb {
	display:block;
	width:298px;
	height:298px;
	position:relative;
	float:left;
}
.process-step-four .thumb img.disc {
	bottom: 0px;
	display:block;
	height:298px;
	position:absolute;
	width:298px;
}
.process-step-five .thumb {
	display:block;
	width:345px;
	height:345px;
	position:relative;
	float:left;
}
.process-step-five .thumb img.disc {
	bottom: 0px;
	display:block;
	height:345px;
	position:absolute;
	width:345px;
}
.process-step-six .thumb {
	display:block;
	width:492px;
	height:492px;
	position:relative;
	float:left;
}
.process-step-six .thumb img.disc {
	bottom: 0px;
	display:block;
	height:492px;
	position:absolute;
	width:492px;
}
.process-step-seven .thumb {
	display:block;
	width:309px;
	height:309px;
	position:relative;
	float:left;
}
.process-step-seven .thumb img.disc {
	bottom: 0px;
	display:block;
	height:309px;
	position:absolute;
	width:309px;
}

.thumb-wrapper {
	display:block;
	position: absolute;
	width:100%;
	height:100%;
}	

.thumb .thumb-detail {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	font-family:arial;
	font-weight:bold;
	font-size:16px;		
	top: 0px;	
}
.black:hover{
	cursor: pointer;
}
/*
* Without CSS3
*/
.thumb.scroll {
	overflow: hidden;
}	

	.thumb.scroll .thumb-detail {
		bottom:-280px;
	}


/*
* CSS3 Flip
*/	
.thumb.flip {
	-webkit-perspective:800px;		
	   -moz-perspective:800px;
	    -ms-perspective:800px;		   		
	     -o-perspective:800px;
	        perspective:800px;
}

	.thumb.flip .thumb-wrapper {
		-webkit-transition: -webkit-transform 0.3s;
		   -moz-transition: -moz-transform 0.3s;
		    -ms-transition: -moz-transform 0.3s;
		     -o-transition: -moz-transform 0.3s;
		        transition: -moz-transform 0.3s;
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;			
		    -ms-transform-style: preserve-3d;			
		     -o-transform-style: preserve-3d;			
				  transform-style: preserve-3d;			
	}
	
	.thumb.flip .thumb-detail {
		-webkit-transform: rotateY(-180deg);
		
		   -moz-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		     -o-transform: rotateY(-180deg);
		        transform: rotateY(-180deg);
	}
	
	.thumb.flip img,
	.thumb.flip .thumb-detail {
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		     -o-backface-visibility: hidden;
		        backface-visibility: hidden;
	}
	
	.thumb.flip .flipIt {
		-webkit-transform: rotateY(-180deg);
		   -moz-transform: rotateY(-180deg);			
		    -ms-transform: rotateY(-180deg);			
		     -o-transform: rotateY(-180deg);			
		        transform: rotateY(-180deg);
	}