/*
z-index: 2000
Header Navigation, fixed

z-index: 100-199
Top image section, absolute

z-index: 200-299
About us, absoulte

z-index: 300-399
Process, absolute

z-index: 400-499
Our Work, Absolute
*/

@font-face {
	font-family: 'Kelson';
	src: url('../../fonts/kelson/KelsonSansRegular.otf');
}

*{
    margin: 0px;
    padding: 0px;
	color: #4F4F4F;
	font-family: 'Kelson', sans-serif;
	border: 0px solid black;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   *{
		font-family:'Roboto Condensed',sans-serif;
	}
}


html{
	height: 100%;
	width: 100%;
}
body{
	background-color: #FFFFFF;
	font-size: 20px;
	width: 100%;
}
a{
	color: #FD504F;
	text-decoration: none;
	transition: color 0.9s;
	-webkit-transition: color 0.9s;
}
a:hover{
	color: #FFFFFF;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
a.button{
	color: #FFFFFF;
	background-color: #FD504F;
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.6em 0.6em 0.2em 0.6em;
}
a.button:hover{
	color: #4F4F4F;
}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;

  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}
#dialog img{
	width: 100%;
}
#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}
#side-navigation{
	display: none;
}

#header{
	background-color: #141414;
	border-bottom: 3px solid #FD504F;
	height: 84px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	z-index: 2000;
}
#the-mark-logo{
	display: inline-block;
	left: 14%;
	padding: 10px 0px 10px 0px;
	position: absolute;
	width: 131px;
}

#navigation{
	display: inline-block;
	float: right;
	height: 84px;
	position: relative;
	right: 14%;
	vertical-align: top;
}

#navigation ul li{
	color: #FD504F;
	display: inline-block;
	line-height: 84px;
	margin: 0px 10px 0px 0px;
}

#recent-works{
	background-color: #141414;
	height: 60%;
	margin: 84px 0px 0px 0px;
	overflow: hidden;
	padding: 20px 0px 20px 0px;
	position:absolute;
	width: 100%;
	z-index:100;
}

#recent-works .left{
	display: inline-block;
	float: left;
	height: 100%;
	margin: 0px 0.375% 0px 0px;
	overflow: hidden;
	position: relative;
 	vertical-align: top;
	width: 24.0625%;
}
#recent-works .left-top{
	height: 40%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#recent-works .left-top img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position:relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .left-top:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .left-left{
	display: inline-block;
	float: left;
	height: 60%;
	overflow: hidden;
	position: relative;
	margin: 7px 0px 0px 0px;
	width: 49%;
}

#recent-works .left-left img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position:relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#recent-works .left-left:hover img{

	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .left-right{
	display: inline-block;
	float: right;
	height: 60%;
	overflow: hidden;
	position: relative;
	margin: 7px 0px 0px 0px;
	width: 49%;
}
#recent-works .left-right img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position:relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#recent-works .left-right:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}


#recent-works .middle-left{
	display: inline-block;
	float: left;
	height: 100%;
	margin: 0px 0.375% 0px 0px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 15.234375%;
}

#recent-works .middle-left-top{
	height: 49%;
	overflow: hidden;
	position: absolute;
	top: 0%;
	width: 100%;
}
#recent-works .middle-left-top img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .middle-left-top:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}

#recent-works .middle-left-bottom{
	bottom: 0%;
	height: 49%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
#recent-works .middle-left-bottom img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .middle-left-bottom:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .middle{
	display: inline-block;
	float: left;
	height: 100%;
	margin: 0px 0.375% 0px 0px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 17.96875%;
}
#recent-works .middle img{
	display: inline-block;
	height: 200%;
	width: 200%;
	left: -50%;
	top: -50%;
	opacity: 0.6;
	position:relative;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .middle:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .grid{
	display: inline-block;
	float: left;
	height: 100%;
	margin: 0px 0.375% 0px 0px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 14.4921875%;
}
#recent-works .grid-left-top{
	height: 49%;
	overflow: hidden;
	position: absolute;
	top: 0%;
	width: 100%;
}
#recent-works .grid-left-top img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .grid-left-top:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .grid-left-bottom{
	bottom: 0%;
	height: 49%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
#recent-works .grid-left-bottom img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .grid-left-bottom:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}

#recent-works .grid-right-top{
	height: 49%;
	overflow: hidden;
	position: absolute;
	top: 0%;
	width: 100%;
}
#recent-works .grid-right-top img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .grid-right-top:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .grid-right-bottom{
	bottom: 0%;
	height: 49%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
#recent-works .grid-right-bottom img{
	height: 125%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -6.25%;
	width: 125%;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .grid-right-bottom:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
#recent-works .right{
	display: inline-block;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 11.875%;
}
#recent-works .right img{
	height: 120%;
	left: -6.25%;
	opacity: 0.6;
	position: relative;
	top: -10.1%;
	width: 120%;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#recent-works .right:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.image-overlay{
	background-image: url('../../images/image-overlay.png');
	background-repeat: repeat;
	cursor: pointer;
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
	z-index: 1000;
}



#twitter-top{
	background-color: #141414;
	height: 124px;
	overflow: hidden;
	position: absolute;
	top: 60%;
	width: 100%;
	z-index: 200;
}
#twitter-top #twitter-logo{
	float: left;
	margin: 43px 0px 0px 2.1875%;
}
#twitter-top .tweet-line{
	background-image: url('../../images/tweet-dots.png');
	background-repeat: no-repeat;
	background-position: left center;
	display: none;
	height: 72px;
	margin: 26px 20px 0px 0px;
	padding: 0px 0px 0px 40px;
	position: relative;
	vertical-align: middle;
	width: 430px;
}
#twitter-top .tweet-line.first{
	background-image: none;
	margin: 26px 20px 0px 10.15625%;
}
#twitter-top .tweet-line p{
	color: #d0d0d0;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
#twitter-top .tweet-line .text{
	color: #FD504F;
	font-size: 10px;
}


#about-the-mark-agency{
	background-color: #FFFFFF;
	background-image: url('../../images/us-background.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 300;
    /*top: 540px;
    background-size: 1349px;*/
}
#about-the-mark-agency .us-image{
	height: 322px;
	margin: 0px auto 0px auto;
	width: 343px;
}
#about-the-mark-agency .wrapper{
	height: 100%;
	margin: 0px auto 60px auto;
	width: 620px;
}
#about-us-information{
	background-color: rgba(255,255,255,0.8);
	background-color: #FFFFFFF;
	/*display: none;*/
	margin: -170px auto 0px auto;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 50%;
	width: 641px;
	z-index: 1000;
}
#about-us-information h1{
	color: #FD504F;
}
#about-us-information p{
	color: #000000;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px 0px 0px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.2em;
}
#us-image{
	left: 39.5%;
	top:27.5%;
	position:absolute;
}
#us-image:hover{
	cursor:pointer;
}
#about-the-mark-agency .title{
	margin: 0px auto 6.67% auto;
	width: 201px;
}
#about-the-mark-agency .text p{
	margin: 0px auto 4% auto;
	-webkit-font-smoothing: antialiased;
}
#about-the-mark-agency .text p.strong{
	color: #565656;
	font-size: 1.4em;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
}
#about-the-mark-agency .text p.tell-me-more{
	margin: 10% auto 0px auto;
	text-align: center;
}


#side-navigation{
	left: 4%;
	margin: -113px 0px 0px 0px;
	position: fixed;
	top: 50%;
	z-index: 2000;
}
#side-navigation a{
	display: block;
	height: 45px;
	overflow: hidden;
	width: 41px;
}
#side-navigation .go-to-header{
	background-image: url('../../images/home-nav.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
#side-navigation a.active{
	background-position: left top;
}
#side-navigation a:hover{
	background-position: left top;
}
#side-navigation .go-to-about{
	background-image: url('../../images/us-nav.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
#side-navigation .go-to-process{
	background-image: url('../../images/us-nav.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
#side-navigation .go-to-work{
	background-image: url('../../images/us-nav.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
#side-navigation .go-to-contact{
	background-image: url('../../images/contact-nav.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
#close-overlay{
	background-color: rgba(0,0,0,0.7);
	color: #FFFFFF;
	font-size: 10px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	padding: 5px 3px 3px 4px;
}
#close-overlay h1{
	color: #FFFFFF;
	text-align: center;
}
#close-overlay:hover{
	cursor: pointer;
}
