.ourteam-page {
	.table {
		margin-top: 30px;
		z-index: 999;
		background-color: #fff;
		td {
			padding: 0px;
			padding: 10px;
			img {
				width: 100%;
				height: 100%;	
    			max-height: 200px;
			}
		}
	}
}

